<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>402779379164-8s8865plmroidc1da1u71n9l9gebrjh6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.402779379164-8s8865plmroidc1da1u71n9l9gebrjh6</string>
	<key>API_KEY</key>
	<string>AIzaSyAagSsEfCGDecyOFlHK6LsrnVV49V7gHuw</string>
	<key>GCM_SENDER_ID</key>
	<string>402779379164</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zakarya.FirebaseDemo</string>
	<key>PROJECT_ID</key>
	<string>signupdemo-2eb7d</string>
	<key>STORAGE_BUCKET</key>
	<string>signupdemo-2eb7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:402779379164:ios:17a9c810eee67bed</string>
	<key>DATABASE_URL</key>
	<string>https://signupdemo-2eb7d.firebaseio.com</string>
</dict>
</plist>